html, body {
    padding    : 0;
    width      : 100%;
    height     : 100%;
    min-width  : 320px !important;
    margin     : 0 auto;
    background-color : #ffffff;
    font-family      : opensans_regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#loading_notice { 
    display         : flex;
    width           : 100%;
    height          : 100%;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;
    font-family     : opensans_regular;
}

/* relative-pixel screen-width cutoff points */

@media (max-width : 900px) {
    .md-maximum {
        display : none !important;
    }
}

@media (min-width : 900px) {
    .md-minimum {
        display : none !important;
    }
}


@media (max-width : 600px) {
    .sm-maximum {
        display : none !important;
    }
}

@media (min-width : 600px) {
    .sm-minimum {
        display : none !important;
    }
}

@media (max-width : 360px) {
    .xs-maximum {
        display : none !important;
    }
}

@media (min-width : 360px) {
    .xs-minimum {
        display : none !important;
    }
}

/* fix for auto-complete yellow bg */
input:-webkit-autofill {
    -webkit-box-shadow : 0 0 0 1000px white inset !important;
    outline            : none;
}

#app {
    display : inline;
}

// function for loading lists of sources
@import './mixins/load-font-face';

@include load-font-face(
    'opensans_regular',
    'OpenSans-Regular-webfont',
    'eot',
    'woff',
    'ttf',
    'svg'
);

ul,li {
    list-style-type       : none;
    -webkit-margin-before : 0;
    -webkit-margin-after  : 0;
    -webkit-margin-start  : 0;
    -webkit-margin-end    : 0;
    -webkit-padding-start : 0;
}